<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="global-scan-to-sql.ZPM">
    <Module>
      <Name>global-scan-to-sql</Name>
      <Version>1.0.1</Version>
      <Description>Analyze Globals by Subscript-Level to SQL</Description>
      <Keywords>Global, SQL, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="rcc.G.PKG"/>
    </Module>
  </Document>
</Export>
